/* Background dengan overlay */
#home { 
    background: url('../img/bg.png') no-repeat center center/cover; 
    background-color: rgba(0, 0, 0, 0.5); 
    background-attachment: fixed; /* Membuat background tetap diam saat scroll */
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Wrapper utama */
.content-wrapper {
    background: transparent;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Kotak gambar dengan carousel */
.image-box {
    width: auto;
    height: auto;
    background-color: #6f4e37; /* Coklat */
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
}

.d-block {
    border-radius: 1rem;
    object-fit: cover;
}


/* Teks di sebelah kanan dengan efek blur */
.text-content {
    text-align: left;
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    background-color: rgba(117, 73, 31, 0);
    color: #F2E3C6;
    padding: 20px;
    border-radius: 15px;
}

.ss-kanan {
    text-align: center;
    color: #F2E3C6;
    margin-bottom: 30px;
    background-color: #301507;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


.text-content h1 {
    font-size: 36px;
    font-weight: bold;
    color: #F2E3C6;
}

.text-content p {
    font-size: 18px;
    margin: 15px 0;
    color: white;
}


/* Responsif */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .image-box {
        margin-bottom: 20px;
    }

    .text-content {
        text-align: center;
    }
}