/* Styles for the location section */
#location { 
    background: url('https://res.cloudinary.com/dbdmqec1q/image/upload/v1748598321/lokasi_soeuze.webp') no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Title with a single animated underline */
#location h2 {
    font-size: clamp(1.8rem, 2.5vw, 2.8rem); /* Responsive font-size */
    font-weight: 700;
    margin-bottom: 2rem;
    color: #F2E3C6;
    position: relative;
    display: inline-block;
}

#location h2::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #bda77b;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.5s ease;
}

#location h2:hover::after {
    width: 100px;
}

/* Ensure text is left-aligned */
.content {
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
}

/* Main container using flexbox */
#location .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Ensure the map is responsive */
.map-container {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjust iframe to fit within the container */
.map-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
    .map-container {
        height: 400px;
    }
}
